body {
  padding: 0;
  margin: 0;
  background: gray;
}
.encabezado {
  background-color: black;
  background-image: url("../img/fondo.png");
  padding: 8%;
  font-size: 1rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-position-y: 2em;
  text-align: center;
}
h1 {
  color: azure;
  font-size: 2.8rem;
  padding: 5px;
  width: 50%;
  margin: 0px;
}

h2 {
  font-size: 2.5rem;
}
h4 {
  font-size: 1.5rem;
}
.wrap-title-section {
  display: flex;
  justify-content: center;
  margin: 3rem 1rem;
  color: azure;
}

.wrap-productos-section {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  flex-direction: row;
  color: azure;
 
}

.item-productos-section {
  padding: 1rem;
  border: 3px solid #efb810;
}

.item-productos-section img {
  width: 300px;
  height: 225px;
}
.item-productos-section h4 {
  margin: 0;
}
.item-productos-section .desc {
  font-size: 15px;
  width: 300px;
}
footer{
  background-color: brown;
  text-align: center;
  width: 100%;
  margin: 0px;
  padding: 0.2px;
}